PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-08-05 22:22:13.463084');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2025-08-05 22:22:13.497452');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2025-08-05 22:22:13.512653');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$1000000$pOjFakf2LScV3u4gEKwEb1$kEodCuJ5IcJZjjlsv4BSooyS6nOcBw0uXBiMN8x9miM=','2025-08-05 22:28:25.172771',0,'kavalose','','kyara.avalos@infinite.com',0,1,'2025-08-05 22:23:16.252676','');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$1000000$HtWkp8JRsWAv4AOlNfdBHi$7M4rdz2w8ZQi4wGv5B8VVptssDh8dCN6M5WfSaDlxEw=','2025-08-07 17:00:47.559530',1,'superuser','','kyara.avalos@infinite.com',1,1,'2025-08-05 22:27:05.217598','');
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$1000000$QwtYHpdUR8ozRAH6VVoQQm$ppncZ90J4A2wcsneydznRXaUbVv23jvZySDCpvqKrU8=',NULL,1,'admin','','admin@example.com',1,1,'2025-08-19 15:21:08.921496','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('ph4a3u2hnuljqwnlagwtncmos8fo9o14','.eJxVjEEOwiAQRe_C2pABKRaX7nsGMswMUjU0Ke3KeHfbpAvd_vf-e6uI61Li2mSOI6ursur0uyWkp9Qd8APrfdI01WUek94VfdCmh4nldTvcv0DBVrY3cAeGOgYMfW8CeGEUyBgyu5yQzyTkgbJIQLHGBoItDuS9SZfgnPp8AQxYOQ8:1uk3yx:g8_sUbp_C9zOaOEng91BkSKUoCZeKHRsirkRW7Nlg3Q','2025-08-21 17:00:47.577638');
INSERT INTO django_session VALUES('1lzk0qfzvh3xq1apqyt0xw6mgw5dapfg','.eJxVjDsOwjAQBe_iGln476Wk5wzW2rvgALKlOKkQd4dIKaB9M_NeIuG61LQOntNE4iSsOPxuGcuD2wboju3WZeltmacsN0XudMhLJ36ed_fvoOKo39p5hhyND6CcYRUixWMA78EGQGuMzVCUtnAFYo_IhJwVeoekNQQK4v0Bufo3bg:1uopyk:HUg6OnC_Q08he5S1T7cJU38tE6b7f9cu-MxfDeGVhoc','2025-09-03 21:04:18.143117');
INSERT INTO django_session VALUES('lvhwz3jx1la6ng6u3hrzo1i9hgbphs2o','.eJxVjDsOwjAQBe_iGlmLvxtKes4Q7doLDiBbipMKcXeIlALaNzPvpUZalzKuXeZxyuqkvDr8bkzpIXUD-U711nRqdZkn1puid9r1pWV5nnf376BQL9_a2uwZcxQ7GCdEkMKA6AwIBArmyOIwQgwcLAOBBfZ4zei8N4Qugnp_AM4jNt0:1upAr4:D7HUKcNsISC2BAX4g2-rs1otgf1J1rfaqats8YI4rQk','2025-09-04 19:21:46.995032');
CREATE TABLE IF NOT EXISTS "tracker_category" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL UNIQUE);
INSERT INTO tracker_category VALUES(1,'Political');
INSERT INTO tracker_category VALUES(2,'Economic');
INSERT INTO tracker_category VALUES(3,'Social');
CREATE TABLE IF NOT EXISTS "tracker_theme" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL, "description" text NULL, "risk_rating" varchar(20) NOT NULL, "onset_timeline" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "category_id" bigint NOT NULL REFERENCES "tracker_category" ("id") DEFERRABLE INITIALLY DEFERRED, "created_by_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO tracker_theme VALUES(1,'Test1',NULL,'Low','<1 year','2025-08-05 22:34:48.157510','2025-08-05 22:34:48.157510',2,2);
INSERT INTO tracker_theme VALUES(2,'Test1 updated',NULL,'Medium','<1 year','2025-08-05 22:55:45.725917','2025-08-06 02:03:58.014903',2,2);
INSERT INTO tracker_theme VALUES(3,'Test1 Tec',NULL,'High','<1 year','2025-08-06 02:00:13.976749','2025-08-06 02:05:20.207322',4,2);
CREATE TABLE IF NOT EXISTS "tracker_useraccesslog" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "login_time" datetime NOT NULL, "ip_address" varchar(45) NULL, "user_agent" text NULL, "logout_time" datetime NULL, "session_duration" bigint NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO tracker_useraccesslog VALUES(1,'2025-08-05 22:23:16.608433','127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0','2025-08-05 22:28:22.498461',305890028,1);
INSERT INTO tracker_useraccesslog VALUES(2,'2025-08-05 22:28:25.176728','127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0',NULL,NULL,1);
INSERT INTO tracker_useraccesslog VALUES(3,'2025-08-05 22:28:54.877933','127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0','2025-08-07 17:00:45.391880',153110513947,2);
CREATE TABLE IF NOT EXISTS "tracker_risktaxonomylv2" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL);
CREATE TABLE IF NOT EXISTS "tracker_risktaxonomylv3" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL);
CREATE TABLE IF NOT EXISTS "tracker_event" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL, "date_identified" date NOT NULL, "description" text NOT NULL, "impacted_lines" text NOT NULL CHECK ((JSON_VALID("impacted_lines") OR "impacted_lines" IS NULL)), "risk_taxonomy_lv2" text NOT NULL CHECK ((JSON_VALID("risk_taxonomy_lv2") OR "risk_taxonomy_lv2" IS NULL)), "risk_taxonomy_lv3" text NOT NULL CHECK ((JSON_VALID("risk_taxonomy_lv3") OR "risk_taxonomy_lv3" IS NULL)), "status" varchar(50) NOT NULL, "control_in_place" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "created_by_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "theme_id" bigint NOT NULL REFERENCES "tracker_theme" ("id") DEFERRABLE INITIALLY DEFERRED, "risk_rating" varchar(20) NOT NULL, "risk_taxonomy_lv1" text NOT NULL CHECK ((JSON_VALID("risk_taxonomy_lv1") OR "risk_taxonomy_lv1" IS NULL)));
INSERT INTO tracker_event VALUES(1,'TestEvent1','2025-08-05','TEST','["FIG", "All"]','["Strategic", "Reputational"]','["Market Conditions"]','Under monitoring',0,'2025-08-05 22:35:35.856839','2025-08-05 22:35:35.856839',2,1,'medium','[]');
INSERT INTO tracker_event VALUES(2,'TestEvent1','2025-08-05','Test','["Issuer", "All"]','["Financial"]','["Regulatory Change"]','Horizon Scanning',0,'2025-08-05 22:56:06.879445','2025-08-05 22:56:06.879445',2,2,'medium','[]');
INSERT INTO tracker_event VALUES(3,'TestEvent1','2025-08-05','test','["FIG"]','["Strategic", "Compliance"]','["Market Conditions", "Geopolitical"]','Horizon Scanning',0,'2025-08-06 00:14:13.044063','2025-08-06 00:14:13.044063',2,1,'medium','[]');
CREATE TABLE IF NOT EXISTS "tracker_source" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL, "source_date" date NOT NULL, "summary" text NOT NULL, "link_or_file" varchar(500) NOT NULL, "file_upload" varchar(100) NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "created_by_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "event_id" bigint NOT NULL REFERENCES "tracker_event" ("id") DEFERRABLE INITIALLY DEFERRED, "potential_impact" varchar(20) NULL, "potential_impact_notes" text NULL, "is_active" bool NOT NULL, "source_type" varchar(10) NOT NULL);
INSERT INTO tracker_source VALUES(1,'Test','2025-08-07','Test','https://www.infinite.com/','','2025-08-07 15:59:29.486710','2025-08-07 15:59:29.486710',2,4,NULL,NULL,1,'OTHER');
CREATE TABLE IF NOT EXISTS "tracker_sourcefileversion" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "file" varchar(100) NOT NULL, "replaced_at" datetime NOT NULL, "note" varchar(255) NOT NULL, "replaced_by_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "source_id" bigint NOT NULL REFERENCES "tracker_source" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO sqlite_sequence VALUES('django_migrations',38);
INSERT INTO sqlite_sequence VALUES('django_admin_log',0);
INSERT INTO sqlite_sequence VALUES('django_content_type',14);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "tracker_theme_category_id_683433b1" ON "tracker_theme" ("category_id");
CREATE INDEX "tracker_theme_created_by_id_9c3fed19" ON "tracker_theme" ("created_by_id");
CREATE INDEX "tracker_useraccesslog_user_id_8fa3c899" ON "tracker_useraccesslog" ("user_id");
CREATE INDEX "tracker_cat_name_102452_idx" ON "tracker_category" ("name");
CREATE INDEX "tracker_the_created_f11c1b_idx" ON "tracker_theme" ("created_at" DESC);
CREATE INDEX "tracker_the_risk_ra_509560_idx" ON "tracker_theme" ("risk_rating");
CREATE INDEX "tracker_use_login_t_397665_idx" ON "tracker_useraccesslog" ("login_time" DESC);
CREATE INDEX "tracker_use_user_id_689cf7_idx" ON "tracker_useraccesslog" ("user_id");
CREATE INDEX "tracker_event_created_by_id_1d17d102" ON "tracker_event" ("created_by_id");
CREATE INDEX "tracker_event_theme_id_e9743189" ON "tracker_event" ("theme_id");
CREATE INDEX "tracker_eve_date_id_c7c751_idx" ON "tracker_event" ("date_identified" DESC);
CREATE INDEX "tracker_eve_status_954236_idx" ON "tracker_event" ("status");
CREATE INDEX "tracker_eve_risk_ra_2633a9_idx" ON "tracker_event" ("risk_rating");
CREATE INDEX "tracker_source_created_by_id_2dfb3acb" ON "tracker_source" ("created_by_id");
CREATE INDEX "tracker_source_event_id_21ac52d7" ON "tracker_source" ("event_id");
CREATE INDEX "tracker_source_is_active_8fe7bc36" ON "tracker_source" ("is_active");
CREATE INDEX "tracker_sou_source__47d951_idx" ON "tracker_source" ("source_date" DESC);
CREATE INDEX "tracker_sou_source__7addd3_idx" ON "tracker_source" ("source_type");
CREATE INDEX "tracker_sourcefileversion_replaced_by_id_18474536" ON "tracker_sourcefileversion" ("replaced_by_id");
CREATE INDEX "tracker_sourcefileversion_source_id_b322201d" ON "tracker_sourcefileversion" ("source_id");
COMMIT;
