CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE TABLE IF NOT EXISTS "tracker_category" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "tracker_theme" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL, "description" text NULL, "risk_rating" varchar(20) NOT NULL, "onset_timeline" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "category_id" bigint NOT NULL REFERENCES "tracker_category" ("id") DEFERRABLE INITIALLY DEFERRED, "created_by_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "tracker_theme_category_id_683433b1" ON "tracker_theme" ("category_id");
CREATE INDEX "tracker_theme_created_by_id_9c3fed19" ON "tracker_theme" ("created_by_id");
CREATE TABLE IF NOT EXISTS "tracker_useraccesslog" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "login_time" datetime NOT NULL, "ip_address" varchar(45) NULL, "user_agent" text NULL, "logout_time" datetime NULL, "session_duration" bigint NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "tracker_useraccesslog_user_id_8fa3c899" ON "tracker_useraccesslog" ("user_id");
CREATE INDEX "tracker_cat_name_102452_idx" ON "tracker_category" ("name");
CREATE INDEX "tracker_the_created_f11c1b_idx" ON "tracker_theme" ("created_at" DESC);
CREATE INDEX "tracker_the_risk_ra_509560_idx" ON "tracker_theme" ("risk_rating");
CREATE INDEX "tracker_use_login_t_397665_idx" ON "tracker_useraccesslog" ("login_time" DESC);
CREATE INDEX "tracker_use_user_id_689cf7_idx" ON "tracker_useraccesslog" ("user_id");
CREATE TABLE IF NOT EXISTS "tracker_risktaxonomylv2" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL);
CREATE TABLE IF NOT EXISTS "tracker_risktaxonomylv3" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL);
CREATE TABLE IF NOT EXISTS "tracker_event" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL, "date_identified" date NOT NULL, "description" text NOT NULL, "impacted_lines" text NOT NULL CHECK ((JSON_VALID("impacted_lines") OR "impacted_lines" IS NULL)), "risk_taxonomy_lv2" text NOT NULL CHECK ((JSON_VALID("risk_taxonomy_lv2") OR "risk_taxonomy_lv2" IS NULL)), "risk_taxonomy_lv3" text NOT NULL CHECK ((JSON_VALID("risk_taxonomy_lv3") OR "risk_taxonomy_lv3" IS NULL)), "status" varchar(50) NOT NULL, "control_in_place" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "created_by_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "theme_id" bigint NOT NULL REFERENCES "tracker_theme" ("id") DEFERRABLE INITIALLY DEFERRED, "risk_rating" varchar(20) NOT NULL, "risk_taxonomy_lv1" text NOT NULL CHECK ((JSON_VALID("risk_taxonomy_lv1") OR "risk_taxonomy_lv1" IS NULL)));
CREATE INDEX "tracker_event_created_by_id_1d17d102" ON "tracker_event" ("created_by_id");
CREATE INDEX "tracker_event_theme_id_e9743189" ON "tracker_event" ("theme_id");
CREATE INDEX "tracker_eve_date_id_c7c751_idx" ON "tracker_event" ("date_identified" DESC);
CREATE INDEX "tracker_eve_status_954236_idx" ON "tracker_event" ("status");
CREATE INDEX "tracker_eve_risk_ra_2633a9_idx" ON "tracker_event" ("risk_rating");
CREATE TABLE IF NOT EXISTS "tracker_source" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL, "source_date" date NOT NULL, "summary" text NOT NULL, "link_or_file" varchar(500) NOT NULL, "file_upload" varchar(100) NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "created_by_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "event_id" bigint NOT NULL REFERENCES "tracker_event" ("id") DEFERRABLE INITIALLY DEFERRED, "potential_impact" varchar(20) NULL, "potential_impact_notes" text NULL, "is_active" bool NOT NULL, "source_type" varchar(10) NOT NULL);
CREATE INDEX "tracker_source_created_by_id_2dfb3acb" ON "tracker_source" ("created_by_id");
CREATE INDEX "tracker_source_event_id_21ac52d7" ON "tracker_source" ("event_id");
CREATE INDEX "tracker_source_is_active_8fe7bc36" ON "tracker_source" ("is_active");
CREATE INDEX "tracker_sou_source__47d951_idx" ON "tracker_source" ("source_date" DESC);
CREATE INDEX "tracker_sou_source__7addd3_idx" ON "tracker_source" ("source_type");
CREATE TABLE IF NOT EXISTS "tracker_sourcefileversion" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "file" varchar(100) NOT NULL, "replaced_at" datetime NOT NULL, "note" varchar(255) NOT NULL, "replaced_by_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "source_id" bigint NOT NULL REFERENCES "tracker_source" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "tracker_sourcefileversion_replaced_by_id_18474536" ON "tracker_sourcefileversion" ("replaced_by_id");
CREATE INDEX "tracker_sourcefileversion_source_id_b322201d" ON "tracker_sourcefileversion" ("source_id");
